allowed_hosts=127.0.0.1,192.168.216.136

# Example command to test
command[check_load]=/usr/local/nagios/libexec/check_load -w 5,4,3 -c 10,6,4
command[check_disk]=/usr/local/nagios/libexec/check_disk -w 20% -c 10% -p /
command[check_dnsmasq]=/usr/local/nagios/libexec/check_procs -a dnsmasq -c 1: -w 1:
command[check_blacklist_monitor]=/usr/local/nagios/libexec/check_procs -a /usr/local/bin/dns_anomaly_detection.py -c 1: -w 1:
